html
  head
    {% block default_style %}
    link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")

    link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/main.css'))
    {% endblock %}

    {% block style %}
    link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/index.css'))
    {% endblock %}
  body
    .container

      .row.clearfix.menu-bar
        .col-md-12.column
          nav.navbar.navbar-default(role="navigation")
            .navbar-header
              button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="/") Programmer Sigh

            .collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href="/") {{ _('Home') }}
                li
                  a(href="/admin") {{ _('Admin') }}

              form.navbar-form.navbar-left(role="search", method="GET", action=url_for('frontend.search_sigh'))
                .form-group
                  input.form-control(type="text", name="q", value=g.q)
                button.btn.btn-default(type="submit") {{ _('Search') }}

              ul.nav.navbar-nav.navbar-right
                li

                  a.post-new.btn.btn-default(href="", role="button", data-toggle="modal", data-target="#new") {{ _('POST') }}
                  form#new.modal.fade(role="form", method="POST", action=url_for('frontend.post_sigh'))
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
                          h4.modal-title {{ _('Publish a sigh') }}
                        .modal-body
                          .content.form-group
                            label(for="content") {{ _('Content') }}
                            textarea.form-control(type="text", name="content")
                            span.tip
                          .form-group
                            label(for="type_") {{ _('Type') }}
                            .btn-group(data-toggle="buttons")
                              label.btn.btn-primary.active
                                input(type="radio", name="type_", value="sigh",  autocomplete="off", checked="")
                                | Sigh
                              label.btn.btn-primary
                                input(type="radio", name="type_", value="wtf", autocomplete="off")
                                | WTF
                              label.btn.btn-primary
                                input(type="radio", name="type_", value="fml", autocomplete="off")
                                | FML

                          .form-group
                            label(for="content") {{ _('Tags') }}
                            select.select2.input-lg.form-control.tags(data-tags="true", name="tags", multiple="multiple",
                                                                      data-placeholder=_('Tags'))
                              option python
                              option 工作
                              option PHP

                          .checkbox
                            label
                              input(type="checkbox", name="is_anonymous")
                              | Publish as anonymous?
                            button.btn.btn-default(type="submit") {{ _('Submit') }}
                        .modal-footer
                li.placeholder(style="width: 15px; min-height: 1px;")
                li.dropdown
                  a.avatar.middle.dropdown-toggle(href="#", data-toggle="dropdown",
                      style="background-image: url({{ g.current_user.split_avatar(50) if g.current_user or g.default_avatar }})")
                  ul.dropdown-menu
                    {% if g.user_id %}
                    li
                      a(href=url_for('frontend.render_profile', user_id=1)) {{ _('Profile') }}
                    li.divider
                    li
                      a(href=url_for('oauth.github_logout')) {{ _('Logout') }}
                    {% else %}
                    li
                      a(href=url_for('oauth.github_login')) {{ _('Login') }}
                    {% endif %}

      .row.clearfix.main
        .col-md-8.column

          {% block main %}{% endblock %}
        .col-md-4.column
          .site-status.table-responsive
            table.table
              tr
                td Registered Users Count:
                td {{ g.user_count }}
              tr
                td Posted Sighs Count:
                td {{ g.sigh_count }}
              tr
                td Comments Count:
                td {{ g.comment_count }}
              tr
                td Tags Count:
                td {{ g.tag_count }}

          .cat
            a(href="http://thecatapi.com")
              img(src="http://thecatapi.com/api/images/get?format=src&type=gif")


    .footer
      .container.row.clearfix
        ul.friend-links.col-md-12.column
          {% for name, link in g.friend_links.items() %}
          li
            a(href=link, target='_blank') {{ name }}
          {% endfor %}

    {% block default_script %}
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js")

    script(src="//ichord.github.io/Caret.js/src/jquery.caret.js")
    script(src="//ichord.github.io/At.js/dist/js/jquery.atwho.js")
    link(href="//ichord.github.io/At.js/dist/css/jquery.atwho.css", rel="stylesheet")

    script(src=url_for('static', filename='js/main.js'), )
    {% endblock %}
    {% block script %}{% endblock %}
