{% extends "_base.jade" %}

{% block style %}
link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/index.css'))
{% endblock %}

{% block main %}

{% for sigh in sighs_pagination.items %}
.list-item.sigh.clearfix(class="{{ sigh.type_ if sigh.type_!='sigh' else '' }}")
  .relate-info.clearfix
    .pull-left
      .avatar(style="background-image: url({{ sigh.creator.split_avatar(40) }})")
      a.name(data-username=sigh.creator.username, href=sigh.creator.profile_url)
        | {{ sigh.creator.name }}
    .pull-right
      span.time {{ sigh.create_time | timeago }}

  .content
    p {{ sigh.content | md }}

  .item-foot
    .pull-right.tags
      {% for tag in sigh.tags %}
      span.label.label-default {{ tag.display_name }}
      {% endfor %}
    .pull-left
      a(href=url_for('frontend.render_sigh', sigh_id = sigh.id_)) {{ _('Comment') }} »
{% endfor %}


ul.pagination
  {% if sighs_pagination.has_prev %}
  li
    a(href=url_for('frontend.index', page_num=sighs_pagination.prev_num)) &laquo;
  {% endif %}

  {% for page in sighs_pagination.iter_pages() %}
  {% if page == sighs_pagination.page %}
  li.active
    a.active(href="#") {{ page }}
  {% else %}
  li
    a(href=url_for('frontend.index', page_num=page)) {{ page }}
  {% endif %}
  {% endfor %}

  {% if sighs_pagination.has_next %}
  li
    a(href=url_for('frontend.index', page_num=sighs_pagination.next_num)) &raquo;
  {% endif %}


{% endblock %}

