{% extends "_base.jade" %}
{% block style %}
link(rel="stylesheet", type="text/css", href=url_for('static', filename = 'css/profile.css'))
{% endblock %}

{% block main %}
.panel.panel-default.profile
  h1.panel-body
    span {{ user.name or '' }}
    span
    span {{ user.family_name or '' }}
    span
      | (
      | {{ user.username }}
      | )
  .panel-body
    .align-left
      a.avatar(href="{{ user.profile_url }}")
        img(src="{{ user.avatar }}")
    .align-right
      .email.content-el
        i.fa.fa-envelope
        span {{ user.email or '' }}
      .github.content-el
        i.fa.fa-github
        span
          a(href='//github.com/{{user.github_username or "" }}')
            | @{{ user.github_username or '' }}


.user-content
  ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
      a(href='#sigh-pane', role='tab', data-toggle='tab') Sigh
    li(role='presentation')
      a(href='#comment-pane', role='tab', data-toggle='tab') Comment
  .tab-content
    #sigh-pane.tab-pane.active(role='tabpanel')
      .item-list

        {% for sigh in sighs_pagination.items %}
        .item
          .sigh-content
            p {{ sigh.content | md }}
          .sigh-footer.clearfix
            .pull-left
              span.datetime 2015-12-12
            .pull-right
              a(href=url_for('front.render_sigh', sigh_id=sigh.id_)) More >>>
        {% endfor %}

    #comment-pane.tab-pane(role='tabpanel')
      .item-list
        {% for comment in comments_pagination.items %}
        .item
          .sigh-content.clearfix
            .avatar.pull-right
              a(href=comment.sigh.profile_url)
                img(src=comment.sigh.creator.split_avatar(40))
            blockquote.content.pull-left
              {{ comment.sigh.content | md }}
          .comment
            .comment-content
              a(href='') {{ comment.content | md }}
            .comment-context Responsed at {{ comment.create_time }}
        {% endfor %}


{% endblock %}

{% block script %}
script(src=url_for('static', filename = 'js/profile.js'))
script

{% endblock %}
